.header {
  margin: 25px 0 10px 0;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 500;
  line-height: 36.4px;
  text-align: left;
}

.main {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 80vh;
  padding: 15px;
  padding-left: 0;
  border: 0.75px solid #F8F9FA;
  border-radius: 15px;
  box-shadow: 0px 3px 15px 0px #b8b7b780;
}

.searchAddContaienr {
  display: flex;
  gap: 20px;
  padding-left: 10px;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
  border: 1.69px solid #E2E2E2;
  padding: 0 30px;
  border-radius: 50px;
}

.searchContainer input {
  border: none;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;

}

.searchContainer input:focus {
  outline: none;
}

.addImageText {
  margin-bottom: 10px;
}

.addImageContainer {
  border: 8px solid transparent;
  border-image: url("../../assets/images/dashed.png") 30 round;
  border-image-width: 25px;
  height: 151px;
}

.addImageBtn {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addImageBtn img {
  margin-bottom: 10px;
}

.imagePreviewContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.imagePreviewContainer > img {
  width: 170px;
  height: 100%;
  border-radius: 11px;
}

.imageName {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;  
}

.controlersContainer, .controlersContainer > div {
  display: flex;
  gap: 3px;
}

.controlersContainer > div {
  cursor: pointer;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #747474;
}

.controlersContainer {
  gap: 20px;
}

.dateActiveContainer {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}