.iconContainer {
  position: relative;
  padding: 14px;
  border-radius: 50%;
  background-color: #F0F2F5;
}

.number {
  position: absolute;
  padding: 2px 4px;
  right: 0;
  top: -1px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: white;
  background-color: #026980;
  border-radius: 50%;
}
