.cardContainer {
  width: 100%;
  padding: 10px 7px;
  border: 0.75px solid #F8F9FA;
  background-color: white;
  border-radius: 10px;
}

.titleContainer {
  background-color: #F8F8F8;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cardInfoContainer {
  display: flex;
  padding: 7px 10px;
}

.rowHeader {
  width: 35%;
  max-width: 300px;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #747474;
}