.container {
  background: #026980;
  width: 246px;
  padding-top: 67.14px;
}

.imageContainer {
  text-align: center;
}

.linksContainer {
  margin-top: 55.57px;
}

a {
  text-decoration: none;
  color: black;
}