.ActiveCircle, .circle{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ActiveCircle > div, .circle > div{
  width: 24px;
  height: 24px;
  background-color: #747474;
  border-radius: 50%;
  margin-bottom: 5px;
}

.circle p {
  color: #747474;
}

.ActiveCircle > div {
  background-color: #026980;
}

.ActiveCircle p {
  color: #026980;
}

.ActiveCircle::before {
  content: " ";
  width: 26px;
  height: 26px;
  border: 1px solid #026980;
  position: absolute;
  border-radius: 50%;
  top: -2px;
}