*, html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  background-color: #fafbfc;
  height: 100%;
  overflow: scroll;
}

#root {
  height: 100%;
}